div.container{
  margin-bottom: 15px;
}
tr.headcol{
  background-color: white;
  padding-bottom: 2em;
}
.accounta{
  width: 25% !important;
}
th.mrg{
  width: 17px !important;
}
.accounta{
  text-align: left;
}
div.scrollacc{

  max-width: 100%;
}
.imageindex{
  width: 50em !important;
  height: 20em !important;
}
tr{
  height: 2em;
  font-size: 1.2em;
}
.tile{
  width: 100%;
}
.percentage{
  text-align: center;
  width: 25% !important;
  margin-left: 6% !important;
}
.flexing{
  display: flex;
}
.aside{
  text-shadow: none;
}
div.tablescroll{
  margin: 0 auto;
  max-width: 100%;
  overflow-y: scroll;
  max-height: 20em;
}
table td, table th{
  width: 25%;
}
.ui-popup-container{
  position: fixed !important;
  top: 25% !important;
}
.columns, .columns.columnsaside{
  margin-top: 0;
}

span.aside-toggle{
  margin-left: 0;
  margin-bottom: 15px !important;
}
.column{
  padding-top: 0px;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 32px;
  margin-left: 60%
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 24px;
  width: 24px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2EB398;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.ui-flipswitch.ui-flipswitch-active {
    padding-left: 2em;
    width: 3.875em;
}
.ui-flipswitch{
  width: 3.875em;
}
@media screen (min-width: 769px){
  .mobilerights{
    display: none;
  }
  .desktoprights{
    display: inline-table;
  }
}
@media screen (max-width: 769px){
  .mobilerights{
    display: inline-table;
  }
  .desktoprights{
    display: none;
  }
}
